<div class="min-h-screen bg-gray-100 flex flex-col md:flex-row">
  <!-- Sidebar -->
  <%= render "shared/sidebar" %>

  <div class="flex-1 flex flex-col">
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <main class="p-4 md:p-6">
      <!-- Stats Cards -->
      <%= render "stats_cards" %>

      <!-- Table Section -->
      <%= render "tables" %>
    </main>
  </div>
</div>
